mat-list {
  padding: 0;
}

img.mat-list-avatar[mat-list-avatar] {
  width: 40px;
  height: auto;
  border-radius: 0;
}

a.mat-list-item[mat-list-item] {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #BDBDBD;
  width: 100vw;
}
