a[mat-list-item] {
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #bdbdbd;
}

img.mat-list-avatar[mat-list-avatar] {
  width: 40px;
  height: 60px;
  border-radius: 0;
}
